@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


:root{
    --shadow:rgba(0, 0, 0, 0.300);
    --fonte-padrão: 'EB Garamond', serif;
    --fonte-títulos: 'Passion One', cursive;
    --fonte-conteudo: 'Sriracha', cursive;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

main{
    margin: auto;
    min-width: 320px;
}

header{
    background-color: black;
    text-align: center;
}

h1{
    color: white;
    font-family: var(--fonte-títulos);
    margin: auto;
    letter-spacing: 0.02em;
    padding-top: 50px;
    font-size: 10vw;
    text-align: center;
    font-variant: small-caps;
}

header > p{
    color: white;
    margin: 0.5em;
    font-family: sans-serif;
    text-decoration: none;
    padding-bottom: 50px;
    font-size: 1.4vw;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

article{
    margin: auto;
    font-family: var(--fonte-conteudo);
    font-size: 2.5vw;
    line-height: 2em;
}

article > div > p{
    padding-left: 60px;
}

.estrofe{
    padding: 120px 0px 120px 0px;
}

.estrofe2{
    padding: 120px 0px 120px 60px; /* 60px repeats itself bacause of div inside div*/
    color: white;
    margin: 0;
    background: url(imagens/background001.jpg) no-repeat fixed center center;
    background-size: cover;
    box-shadow:inset 0px 0px 8px 8px var(--shadow);
}

.transparencia > p{
    display: inline-block;
    padding: 0px 10px 0px 10px;
    background-color: rgba(0, 0, 0, 0.493);
    padding-right: 20px;
}

.estrofe4{
    padding: 120px 0px 120px 60px; /* 60px repeats itself bacause of div inside div*/
    color: white;
    margin: 0;
    background: url(imagens/background002.jpg) no-repeat fixed center center;
    background-size: cover;
    box-shadow:inset 0px 0px 8px 8px var(--shadow);
}

footer{
    margin: none;
    background-color: black;
    color: white;
    text-align: center;
    padding: 8px 0px 8px 0px;
}

footer > p{
    margin: 0;
    font-size: 1.5vw;
}